$mobile-breakpoint: 800px;

$background-color: #d0d0d0;
$font-family: "Fira Code";
$line-height: 1.25em;
$color: #101010;

$title-font-size: calc(0.8em + 2vw);
$title-highlight-color: #e01010;
$title-detail-color: #707070;
$title-dot-space: .15em;
$title-dot-vertical-offset: .03em;
$title-tld-length: 4;
$title-space: .35em;
$title-slide-duration: 240ms;

$help-font-size: .8em;
$help-bottom-margin: 1em;
$help-color: #303030;
$help-fade-duration: 350ms;