$background-color: #d0d0d0;
$font-family: "Fira Code";
$line-height: 1.25em;
$color: #101010;

$title-font-size: calc(0.8em + 2vw);
$title-highlight-color: #e01010;
$title-detail-color: #707070;
$title-detail-width: 120px;
$title-detail-distance: 45px;