@import "../../../../styles/variables.scss";

:host{
  position: relative;
  font-family: $content-font-family;

  .content-wrapper {
    max-width: $content-width;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

    .content-backdrop {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;

      &:not(.nav-open) {
        background-color: $backdrop-color;
      }
    }

    main {
      position: relative;
      width: 100%;
      overflow: auto;
      background-color: $content-background-color;
      padding: 0 $page-padding $content-end-padding;
      box-sizing: border-box;
      border-top: $content-border;
      border-bottom: $content-border;

      @media screen and (min-width: $content-width) {
        padding: 0 $content-padding $content-end-padding;
        margin-bottom: $page-padding;
        border-left: $content-border;
        border-right: $content-border;
      }
    }
  }
}
