@import "../../../../styles/variables.scss";

:host{
  position: relative;
  top: calc(-#{$navigation-height} - #{$page-padding});
  font-family: $content-font-family;

  .content-wrapper {
    min-height: 100%;
    max-width: $content-width;
    margin: 0 auto;
    padding: $page-padding 0;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: $navigation-height 1fr;

    .menu-link, .home-link{
      font-family: $navigation-font-family;
      background-color: $content-background-color;
      align-self: stretch;

      display: flex;
      align-items: center;
      justify-content: center;
      width: $navigation-item-width;

      color: inherit;
      text-decoration: inherit;
      border: $content-border;
      border-bottom: none;
      box-sizing: border-box;
    }

    .home-link {
      justify-self: end;
    }

    main {
      width: 100%;
      overflow: auto;
      background-color: $content-background-color;
      padding: 0 $content-padding;
      box-sizing: border-box;
      border: $content-border;
    }
  }
}
