<nwie-content-page>
  <h2>Verify E-Mail Legitimacy</h2>
  <p>
    E-Mail messages sent by me, Sebastian Wieland, are always digitally signed
    with an OpenPGP signature. This signature can be verified with any OpenPGP
    software. Only if the signature can be successfully verified, the e-mail is
    legitimate.
  </p>
  <p>
    If you do not use any OpenPGP software, the signature appears to you as an
    attachment called <code>signature.asc</code>. In this case, you can verify
    the e-mail's signature using the verification tool below. This can be done
    with any e-mail message sent by me, as long as your e-mail client supports
    exporting messages as .eml files.
  </p>
  <p>
    To verify the signature of an e-mail, export it as .eml file and open it here.
    You need to export the entire e-mail with all attachments; not just the text or
    the signature file. The verification happens on your device; no information is
    uploaded to the internet.
  </p>
  <ul>
    <li>
      <a routerLink="/sites/exporting-emails">How to export e-mails as .eml file</a>
    </li>
    <li>
      <a href="https://ssd.eff.org/en/module/deep-dive-end-end-encryption-how-do-public-key-encryption-systems-work">Learn more about OpenPGP</a>
    </li>
  </ul>

  <form class="file-upload-box"
    (dragover)="isDraggedOver = true"
    (dragenter)="isDraggedOver = true"
    (dragleave)="isDraggedOver = false"
    (dragend)="isDraggedOver = false"
    (drop)="isDraggedOver = false; onDrop($event)"
    [class.is-dragged-over]="isDraggedOver"
    #fileUploadBox>

    <input type="file" id="email-file" accept="message/rfc822" (change)="onInputChange($event)"/>

    <label for="email-file">
      <p>Open an e-mail file ...</p>
      <div class="mock-input">
        <div class="text-field">{{ emailFileName }}</div>
        <div class="button">Open</div>
      </div>
      <p>... or drop it here.</p>
    </label>
  </form>

  <div class="verification-response warn" *ngIf="verificationResponse === 'not-an-eml-file'">
    <h3>Not an .eml File</h3>
    <p>
      The file you uploaded does not appear to be an .eml file.
    </p>
  </div>

  <div class="verification-response info" *ngIf="verificationResponse === 'not-from-me'">
    <h3>Not from me</h3>
    <p>
      This tool can only check the legitimacy of e-mails sent by me.
    </p>
  </div>

  <div class="verification-response error" *ngIf="verificationResponse === 'not-a-multipart-file' || verificationResponse === 'no-signature-present'">
    <h3>Could not verify legitimacy!</h3>

    <p>
      The e-mail appears to be sent by me, but it is not signed. There is no
      certainty about its legitimacy!
    </p>

    <p>
      This could mean one or multiple of following things:
    </p>

    <ul>
      <li>I am the author, but a third party between me and you removed the
        signature from the original e-mail</li>
      <li>I am the author, but <strong>a third party altered the contents of
          the e-mail</strong>.</li>
      <li>I am <strong>not</strong> the author, and <strong>a third party sent
          you this e-mail pretending to be me</strong>.</li>
    </ul>

    <p>
      When in doubt: <strong>ignore this e-mail!</strong> If the legitimacy of
      the e-mail is crucial to you, contact me using <a
      routerLink="/contact">the end-to-end encrypted contact form</a> and
      request an end-to-end encrypted reply.
    </p>
  </div>

  <div class="verification-response info" *ngIf="verificationResponse === 'encrypted'">
    <h3>Encrypted message</h3>
    <p>
      This message is encrypted and can only be opened by the recipient. If you
      are the recipient, use your decryption software to verify its legitimacy.
    </p>
  </div>

  <div class="verification-response error" *ngIf="verificationResponse === 'bad-signature'">
    <h3>Could not verify legitimacy!</h3>

    <p>
      The e-mail appears to be sent by me, but the signature doesn't match.
      There is no certainty about its legitimacy!
    </p>

    <p>
      This could mean one or multiple of following things:
    </p>

    <ul>
      <li>I am the author, but <strong>a third party altered the contents of
          the e-mail</strong>.</li>
      <li>I am <strong>not</strong> the author, and <strong>a third party sent
          you this e-mail pretending to be me</strong>.</li>
    </ul>

    <p>
      When in doubt: <strong>ignore this e-mail!</strong> If the legitimacy of
      the e-mail is crucial to you, contact me using <a
      routerLink="/contact">the end-to-end encrypted contact form</a> and
      request an end-to-end encrypted reply.
    </p>
  </div>

  <div class="verification-response success" *ngIf="verificationResponse === 'good-signature'">
    <h3>Legitimacy verified.</h3>

    <p>
      Please check following things:
    </p>

    <ul>
      <li>Is your browser showing you a closed padlock symbol without any
        warnings next to the URL in the address bar?</li>
      <li>Were you able to enter this website without having to accept any
        warnings about an insecure connection?</li>
      <li>Do you own the device you're currently using?</li>
    </ul>

    <p>
      If you were able to answer all of these questions with "yes", you can be
      certain about the e-mail's legitimacy.
    </p>

    <p>
      If you had to answer any of these questions with "no", it is possible
      that someone tampered with this tool to present you a wrong result.
    </p>
  </div>

  <div class="verification-response info" *ngIf="verificationResponse === 'protonmail'">
    <h3>Legitimacy verified by Protonmail.</h3>

    <p>
      Protonmail indicates the legitimacy of e-mails using the blue lock-symbol
      next to the date.
    </p>

    <p>
      <img src="/assets/content/images/protonmail-encryption.png" alt="Protonmail"/>
    </p>
  </div>
</nwie-content-page>
