html, body {
  height: 100%;
  margin: 0;
}

html {
  padding: 0;

  @media screen and (min-width: $content-width) {
    padding: 0 $page-padding;
  }
}

body {
  background-color: $background-color;
  color: $color;
  font-family: $font-family;
}
