form {
  .input-row, .button-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 0 -#{$form-field-margin};

    & > * {
      flex-basis: 100%;

      @media screen and (min-width: $mobile-breakpoint) {
        flex-basis: 0;

        flex-grow: 1;
      }

      margin: 0 #{$form-field-margin};
    }

    .input-group, .textarea-group, .checkbox-group {
      label {
        font-size: $label-font-size;
        font-family: $label-font-family;
        padding-left: #{$label-padding};
        white-space: nowrap;
      }
    }

    .input-group, .textarea-group {
      display: flex;
      flex-direction: column;
      margin-bottom: $input-group-margin;

      label {
        padding-left: #{$label-padding};
      }

      &.hidden {
        display: none;

        @media screen and (min-width: $mobile-breakpoint) {
          display: flex;
          visibility: none;
        }
      }
    }

    .checkbox-group {
      display: flex;
      flex-direction: row;
      flex-grow: unset;
      margin-bottom: $input-group-margin;
      align-items: center;
      min-height: 30px;
    }

    .textarea-group {
      flex-direction: column-reverse;
    }

    textarea, input, button {
      border: $input-border;
      font-size: $input-font-size;
      box-sizing: border-box;
      padding: $input-padding;
      font-family: $input-font-family;
    }

    input, button {
      border-right: none;
      border-top: none;
      border-left: none;
    }

    textarea {
      resize: vertical;
    }

    .ng-touched.ng-invalid {
      border-color: $input-invalid-color;
      color: $input-invalid-color;

      & ~ label {
        color: $input-invalid-color;
      }
    }

    button {
      background-color: unset;
      font-family: $label-font-family;
      padding: .75em 1em;
      cursor: pointer;

      &::before {
        content: '=>';
        margin-right: .5em;
      }

      &[disabled] {
        border-color: transparent;
        opacity: .5;

        &::before {
          visibility: hidden;
        }
      }
    }
  }

  .button-row {
    & > * {
      flex-basis: unset;
      flex-grow: unset;
    }

    justify-content: space-between;

    button[type=reset] {
      border: none;
      padding: 0;
      font-size: $label-font-size;
      color: $reset-button-color;

      &::before{
        content: unset;
        margin-right: unset;
      }
    }
  }

  .message-row {
    margin-bottom: $input-group-margin;
    font-family: $label-font-family;
    font-size: $label-font-size;
  }
}
