html, body {
    height: 100%;
    margin: 0;
}

html {
    padding: 0 .5em;
}

body {
    background-color: $background-color;
    color: $color;
    font-family: $font-family;
    line-height: $line-height;
    display: flex;
    justify-content: center;
    align-items: center;
}