#title {
    font-size: $title-font-size;
    line-height: $line-height;

    .title-box {
        display: inline-block;
        position: relative;

        a {
            color: inherit;
            text-decoration: inherit;
            display: block;
        }
    }

    .slider {
        position: absolute;
        width: 100%;
        text-align: right;

        transition-property: top;
        transition-duration: $title-slide-duration;

        &.up {
            top: 0;
        }

        &.down {
            top: $line-height;
        }
    }

    .label {
        color: $title-detail-color;
        margin-right: $title-space;
    }

    .placeholder {
        visibility: hidden;
    }
    
    .static {
        color: $title-highlight-color;
    }

    .dot {
        color: $title-detail-color;
        position: absolute;
        right: $title-tld-length - 0.47 * 1ch;
        margin-top: $title-dot-vertical-offset;
    }
    
    .wie {
        margin-left: $title-space;
    }

    .land {
        margin-left: $title-dot-space;
    }
}