@import "../../../styles/variables.scss";

$font-size: calc(0.8em + 2vw);
$line-height: 1.25em;
$dot-space: .15em;
$dot-vertical-offset: .03em;
$tld-length: 4;
$space: .35em;
$slide-duration: 240ms;

:host {
  font-family: $title-font-family;
  font-size: $font-size;
  line-height: $line-height;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title-box {
    display: inline-block;
    position: relative;
    cursor: pointer;


    .slider {
      position: absolute;
      width: 100%;
      text-align: right;

      transition-property: top;
      transition-duration: $slide-duration;

      &.up {
        top: 0;
      }

      &.down {
        top: $line-height;
      }
    }

    .label {
      color: $detail-color;
      margin-right: $space;
    }

    .placeholder {
      visibility: hidden;
    }

    .static {
      color: $highlight-color;
      user-select: none;
    }

    .dot {
      color: $detail-color;
      position: absolute;
      right: $tld-length - 0.47 * 1ch;
      margin-top: $dot-vertical-offset;
    }

    .wie {
      margin-left: $space;
    }

    .land {
      margin-left: $dot-space;
    }
  }

  .pgp-fingerprint {
    a {
      color: $detail-color;
      .upper-bytes {
        display: none;

        @media screen and(min-width: $desktop-breakpoint) {
          display: inline;
        }
      }
    }

    margin-top: .4em;
    font-size: .55em;

    @media screen and(min-width: $desktop-breakpoint) {
      margin-top: .2em;
      font-size: .3em;
    }
  }
}
