<div class="title-box">
  <a [href]="href">
    <div class="slider {{ position }}">
      sebasti<span class="placeholder">&nbsp;</span>n<span class="wie">wie</span><span
        class="dot">.</span><span class="land">land</span>
    </div>
    <div class="web" (mouseover)="setPosition('up')">
      <span class="label">http:</span><span class="placeholder">sebasti</span><span class="static">a</span><span
        class="placeholder">n</span><span class="placeholder wie">wie</span><span class="placeholder dot">.</span><span
        class="placeholder land">land</span>
    </div>
    <div class="mail" (mouseover)="setPosition('down')">
      <span class="label">mail:</span><span class="placeholder">sebasti</span><span class="static">@</span><span
        class="placeholder">n</span><span class="placeholder wie">wie</span><span class="placeholder dot">.</span><span
        class="placeholder land">land</span>
    </div>
  </a>
</div>
