<div class="title-box" (click)="activate()">
  <div class="slider {{ position }}">
    sebasti<span class="placeholder">&nbsp;</span>n<span class="wie">wie</span><span
      class="dot">.</span><span class="land">land</span>
  </div>
  <div class="web" (mouseover)="setPosition('up')">
    <span class="label">http:</span><span class="placeholder">sebasti</span><span class="static">a</span><span
      class="placeholder">n</span><span class="placeholder wie">wie</span><span class="placeholder dot">.</span><span
      class="placeholder land">land</span>
  </div>
  <div class="mail" (mouseover)="setPosition('down')">
    <span class="label">mail:</span><span class="placeholder">sebasti</span><span class="static">@</span><span
      class="placeholder">n</span><span class="placeholder wie">wie</span><span class="placeholder dot">.</span><span
      class="placeholder land">land</span>
  </div>
</div>
<div class="pgp-fingerprint">
  PGP-Fingerprint: <a [routerLink]="['/sites/pgp']"><span class="upper-bytes">0112 3C38 2EEA 91D7 2622 8888 </span>D34D 12E4 12ED EF1A</a>
</div>
