@import "./z-indexes.scss";

$background-color: #d0d0d0;
$color: #101010;
$highlight-color: #e01010;
$detail-color: #707070;
$backdrop-color: rgba(0, 0, 0, .5);

$info-color: #60f8f6;
$success-color: #7cf88a;
$warn-color: #f8f366;
$error-color: #f85768;

$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$content-font-family: $font-family;
$title-font-family: 'Fira Code', 'Courier New', Courier, monospace;
$navigation-font-family: $title-font-family;

$mobile-breakpoint: 480px;

$page-padding: .5em;
$content-width: 800px;
$content-padding: 2em;
$content-background-color: #fff;
$content-border: 1px solid #000;
$content-end-padding: 1.5em;
$content-backdrop-color: $backdrop-color;

$navigation-backdrop-color: $backdrop-color;
$navigation-padding-vertical: .3em;
$navigation-padding-horizontal: .7em;

$navigation-height: 40px;
$navigation-item-width: 100px;

$input-group-margin: .75em;
$form-field-margin: .4em;
$label-font-size: .75em;
$label-font-family: $title-font-family;
$label-margin: .25em;
$label-padding: .75em;

$input-border: $content-border;
$input-font-size: 1em;
$input-font-family: $content-font-family;
$input-padding: .25em;
$input-invalid-color: $highlight-color;

$reset-button-color: $detail-color;

$attachment-spacer-border: 1px dashed #000;

$global-message-font-family: $title-font-family;

$loader-font-family: $title-font-family;
