$background-color: #d0d0d0;
$color: #101010;
$highlight-color: #e01010;
$detail-color: #707070;

$font-family: 'Fira Code', 'Courier New', Courier, monospace;

$page-padding: .5em;
$content-width: 960px;
$content-padding: .8em;
$content-background-color: #fff;
$content-border: 1px solid #000;

$navigation-height: 40px;
$navigation-item-width: 100px;
