/*
 * Global coordination of z-indexes.
 *
 * Define realms in following list. The lower a realm appears in the list,
 * the higher its z-index will be. This allows for easy re-ordering without
 * having to change css-values in various places.
 *
 * Usage: In a css-directive, add the property z-index like following:
 *
 *    selector {
 *      z-index: map-get($z-index, 'realm-name');
 *    }
 *
 * Each realm has a usable range of 100 to allow fine-tuning within a single
 * realm, meaning that every value from
 *    map-get($z-index, 'realm-name')
 * to
 *    map-get($z-index, 'realm-name') + 99
 * is valid.
 */
$z-realms: (
  'global-message',
  'imprint-link',
  'navigation',
  'help',
  'loader'
);

$z-index-counter: 1000;
$z-index: ();

@each $z-realm in $z-realms {
  $z-index: map-merge($z-index, ($z-realm: $z-index-counter));
  $z-index-counter: $z-index-counter + 100;
}
