@mixin font-face($font-family, $base-path, $weight, $file-name, $style: null, $types: woff woff2 ttf otf) {
    $src: null;

    @each $type in $types {
        $src: append($src, url(quote($base-path + "/" + $type + "/" + $file-name + "." + $type)) format(quote($type)), comma);
    }

    @font-face {
        font-family: quote($font-family);
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}

@import "./fira-code.scss";
