<div class="navigation-wrapper">
  <div class="button-row">
    <button class="menu-link" [class.homepage]="isHomepage" [class.open]="navOpen" (click)="toggle()">{{ navOpen ? 'close' : 'nav' }}</button>
    <a class="menu-link" routerLink="/" *ngIf="!isHomepage">home</a>
  </div>

  <nav *ngIf="navOpen">
    <div class="navigation-backdrop" (click)="close()"></div>
    <ul>
      <li *ngFor="let link of links"><a [routerLink]="link.routerLink" (click)="close()">{{ link.label }}</a></li>
    </ul>
  </nav>
</div>
