<nwie-content-page>
  <h2>Contact</h2>

  <p>
    Messages sent through this form are end-to-end encrypted.
    Unlike with regular e-mails, no nosy government, evil corporation or power-hungry sysadmin is able to intercept and read them.
  </p>

  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="input-row">
      <div class="input-group">
        <input type="text" id="subject" formControlName="subject"/>
        <label for="subject">Subject</label>
      </div>
    </div>

    <div class="input-row">
      <div class="input-group">
        <input type="text" id="fromName" formControlName="fromName" autocomplete="name"/>
        <label for="fromName">Your name</label>
      </div>
      <div class="input-group">
        <input type="email" id="fromEmail" formControlName="fromEmail" autocomplete="email"/>
        <label for="fromEmail">Your e-mail address</label>
      </div>
    </div>

    <div class="input-row" *ngIf="!hasSuitablePublicKey">
      <div class="checkbox-group">
        <input type="checkbox" id="requestEncryptedReply" formControlName="requestEncryptedReply"/>
        <label for="requestEncryptedReply">
          Request encrypted reply
          <nwie-help>
            <p>
              Messages sent to me through this contact form are end-to-end
              encrypted, but my replies to you aren't by default. This is
              because in order to encrypt information, one needs either a
              public key of the recipient, or a shared secret.
            </p>
            <p>
              If you want me send my reply to you end-to-end encrypted, you
              need to select the option <em>Request encrypted reply</em>, and
              set up a passphrase which acts as shared secret. The passphrase
              will be exchanged in an encrypted manner just like the rest of
              the message.
            </p>
            <p>
              When receiving my reply, you then need to enter the passphrase
              again to decrypt it. It is therefore important that you remember
              it or save it in a secure location, such as a USB drive or a
              password manager.
            </p>
            <p>
              Alternatively, attach your armored public OpenPGP key to this
              message.
            </p>
          </nwie-help>
        </label>
      </div>
      <div class="input-group" [class.hidden]="!requestEncryptedReply">
        <input type="text" id="encryptionPassphrase" formControlName="encryptionPassphrase"/>
        <label for="encryptionPassphrase">Encryption passphrase (≥ 8 characters)</label>
      </div>
    </div>

    <div class="message-row" *ngIf="hasSuitablePublicKey">
      <div>My reply will be encrypted using your attached public key.</div>
    </div>

    <div class="input-row">
      <div class="textarea-group">
        <textarea id="message" formControlName="message" rows="10"></textarea>
        <label for="message">Message</label>
      </div>
    </div>

    <div class="attachments">
      <nwie-attachment *ngFor="let attachment of attachmentFields.controls; let i = index"
        [control]="attachment"
        (addAttachment)="addAttachmentField()"
        (delete)="deleteAttachment(i)"></nwie-attachment>
    </div>

    <div class="button-row">
      <button type="submit" [disabled]="!contactForm.valid">Send</button>
      <button type="reset" (click)="reset()">Clear form</button>
    </div>
  </form>
</nwie-content-page>

<nwie-loader *ngIf="sending">sending</nwie-loader>
